<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">

	<insert id="insertBoard">
		<!-- insert into BOARD (category, title, writer, content) values -->
		insert into PP1BOARD (RC, roomnum, name, temp, filename, regdate, userID)
		values
		(#{RC}, #{roomnum}, #{name}, #{temp}, #{filename}, now(), #{userID})
	</insert>

	<!-- <update id="updateBoard">
		update BOARD
		set RC=#{RC},roomnum=#{roomnum},gender=#{gender},stdnum=#{stdnum},name=#{name},temp=#{temp},filename=#{filename}
		where seq=#{seq}
	</update> -->

	<delete id="deleteBoard">
		delete from PP1BOARD where seq=#{seq}
	</delete>
	
	<select id="getBoard" resultType="board">
		select * from PP1BOARD where seq=#{seq}
	</select>
	
	<select id="getBoardList" resultType="board">
		select * from PP1BOARD order by seq desc
	</select>

</mapper>